<!DOCTYPE html>
<html ng-app='ShoppingListPromiseApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Shopping List with a Promise</title>
  </head>
  <body>
    <h1>Shopping List with a Promise</h1>

    <div ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity"> boxes
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} boxes of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>

  </body>
</html>
