<!DOCTYPE html>
<html ng-app='ShoppingListEventsApp'>
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Shopping List With Events</title>
  </head>
  <body>
    <h1>Shopping List With Events:</h1>
    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <span>{{ list.lastRemoved }}</span>

      <shopping-list
        items="list.items"
        title="{{list.title}}"
        on-remove="list.removeItem(index)"></shopping-list>

    </div>

    <loading-spinner></loading-spinner>
  </body>
</html>
