<!doctype html>
<html lang="en" ng-app ="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  <script src='angular.min.js'> </script>
  <script src='app.js'></script>
  </head>
<body>
   <div class="container" ng-controller ='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model = 'lunch'
             ng-keyup = [split(),check()]
             >
         </div>
         <div>
         Lunch is:  <div ng-repeat='x in arrayOfLunch'> {{x}}</div>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click='check()'>Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           Lunch total: {{count}}
           <br>
           Check status: {{message}}
         </div>
   </div>

</body>
</html>
