<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service Through a Factory</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list1" ng-controller='ShoppingListController1 as list1'>
      <h3>Shopping List #1</h3>
      <input type="text" ng-model="list1.itemName" placeholder="item name">
      <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
      <button ng-click="list1.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list1.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list1.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list1.errorMessage}}</div>
    </div>

    <!-- LIST #2 (limited to 3 items) -->
    <div id="list2" ng-controller='ShoppingListController2 as list2'>
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list2.itemName" placeholder="item name">
      <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
      <button ng-click="list2.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list2.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list2.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list2.errorMessage}}</div>
    </div>

  </body>
</html>
