body {
  font-size: 1.2em;
}
input {
  font-size: 24px;
  margin-bottom: 10px;
}
button {
  font-size: 24px;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

#info {
  margin-top: 20px;
}
