<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Custom Service Through a Provider</title>
  </head>
  <body>
    <h1>Custom Service Through a Provider</h1>

    <!-- Preconfigured List -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list.errorMessage}}</div>
    </div>

    </div>
  </body>
</html>
